@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
  /* adjust touch target size */
  font-size: 1.4em;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  /* padding adjusted */
  padding: 20px 0 20px;
  /* text align commented out */
  /*text-align: center;*/
  text-transform: uppercase;
  /* Flexbox parameter added */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
/* ====================== Navigation ====================== */
nav {
  position: relative;
  width: 100%;
  /* relative value added to height */
  height: 10%;
  background-color: #252831;
  text-align:center;
  /* Flexbox parameter added */
  display: flex;
}
nav h1 {
  margin: auto;

}
nav h1 a {
  color: #fff;
  /* adjust touch target size */
  font-size: 1.7em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {

    /* padding commented out */
    /*padding: 10px 40px 16px;*/
    list-style: none;
    background-color: #eee;
    font-size: 1.5em;
    margin: 0;
    /* text align parameter added */
    text-align: center;
    /* width adjuxted to 96.9% */
    width: 96.9%;
    /* Flexbox parameter added */
    display: flex;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  /* Map height changed to 250px */
  height: 250px;
  width: 100%;
  background-color: #ccc;
  display: flex;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /* relative value added to height */
  height: 25%;
  background-color: #3397DB;
  align-items: center;
  /* Padding adjusted */
  padding: 10px 0 10px ;
  /* added Flexbox parameters */
  display: flex;
  flex-wrap: wrap;

}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 45px 15px 45px;
  text-align: center;
  /* added Flexbox parameters */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  /* height reduced to 25% */
  /* height: 5%;*/
  position: relative;
  /* right setting commented out */
  /* right: 0;*/
  top: 80px;
  /* width changed to 100% */
  width: 100%;
  /*display: flex;*/
  
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: relative;
  /* width doubled */
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  /* Border bottom commented out */
  /*border-bottom: 1px solid #d9d9d9;*/
  border-top: 1px solid #fff;
  padding: 30px 30px 30px;
  width: 100%;
  /* added Flexbox parameters */
  display: flex;
  flex-direction: column;
  align-content: center | stretch;
}
#reviews-container {
  /* side padding adjusted down */
  padding: 30px 20px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
  /* Flexbox parameters added */
  display: flex;
  flex-direction: column;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;

  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  /* positon element commented out */
  /*position: relative;*/
  width: 85%;
  /* Flexbox parameter added */
  display: flex;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
